.ContactMe {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
@media (max-width:825px) {
    .ContactMe {
        margin-top: 200px;
    }
}
.ContactInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    background-color: var(--Secondary-black);
    padding: 15px;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.ContactInformation h4 {
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 3px;
}
.ContactInformation p {
    font-size: 1.1rem;
    color: var(--Secondary-Gray);
    margin-top: 3px;
}
.ContactInformation p a {
    color: var(--White);
    text-decoration: underline;
}
.ContactInformation div {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.ContactInformation div a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--White);
}
.ContactInformation div a i{
    font-size: 1rem;
    margin: 10px;
    padding: 5px;
    color: var(--White);
    border: 1px solid var(--White);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.ContactForm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding: 15px;
}
.ContactForm form label {
    color: var(--White);
    font-size: 1.4rem;
    margin: 0px 5px;
}
.ContactForm form input:not(form input[type="submit"]) {
    padding: 10px 15px;
    margin: 10px 5px;
    color: var(--Secondary-Black);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.ContactForm form input[type="submit"] {
    padding: 10px 15px;
    margin: 5px;
    color: var(--Primary-Lavender);
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--Primary-Lavender);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}
.ContactForm form input[type="submit"]:hover {
    color: var(--White);
    background-color: var(--Primary-Lavender);
}